<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <first_name>Authors</first_name>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    </head>
    <body>
        <div>
            <h1> Add an Authors</h1>
            <form action="/create_author" method="post">
                {% csrf_token %}
                <p>
                    first_name: <input name="first_name" type="text">
                </p>
                <p>
                    last_name: <input name="last_name" type="text">
                </p>
                <p>
                    notes: <input name="notes" type="text">
                </p>
                <button type="submit">Add</button>
            </form>     
        </div>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                {% for author in all_authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}} {{author.last_name}}</td>
                    <td><a href="show_author/{{author.id}}">View</a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </body>


