<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Books/Authors</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    </head>
    <body>
        <div>
            <h2>All the authors</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>last Name</th>
                    <th> books</th>
                </tr>
                {% for author in all_authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}}</td>
                    <td>{{author.last_name}}</td>
                    <td>{% for book in author.books.all %}
                        {{book.title}},
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
    </body>


